<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWProjects Listagem de clientes</title>
    
    <!--  Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    <!-- <link rel="stylesheet" th:href="@{/css/bootstrap.icons.css}"> -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" th:href="@{/css/index-page.css}">

    <script defer th:src="@{/js/bootstrap.min.js}"> </script>
</head>
<body>
    <nav class="container-fluid bg-primary text-white d-flex justify-content-between align-items-center py-5 px-5 mb-5">
        
        <a th:href="@{/clients}">
            <button class="btn btn-success text-white fs-4 px-4">TWProjects</button>
        </a>
        
        <a th:href="@{/clients/create}">
            <button class="btn btn-success text-white px-4">Adicionar 
                <i class="bi bi-arrow-up-right-circle-fill fs-5"></i>
            </button>
        </a>
    </nav>
    <main class="container">
        <div class="d-flex py-3 bg-primary text-white justify-content-center rounded mb-5">
            <h1>Listagem de Clientes</h1>
        </div>
        
        <table class="table">
            <thead>
                <tr class="">
                    <th class="text-center">#</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${clients}" class="pt-2">
                    <td th:text ="*{item.id}" class="pt-2"> </td>
                    <td th:text ="*{item.name}"> </td>
                    <td th:utext="*{item.email}"> </td>
                    <td> [[${item.email}]] </td>
                    <td class="d-flex align-items-center gap-1 justify-content-center w-75 ">
                        <a th:href="@{/clients/edit/{id} (id=${item.id}) } " 
                            class="bg-warning  px-2 py-2 d-flex align-items-center justify-content-center spinner">
                            <i class="bi bi-pencil-fill text-white"></i>
                        </a>
                        <a 
                            th:href="@{'/clients/delete/' + ${item.id} }"
                            onclick="return confirm('Deseja excluir ?')"
                            class="bg-danger px-2 py-2 d-flex align-items-center justify-content-center spinner">
                            <i class="bi bi-trash-fill text-white"></i>
                        </a>    
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>