<h1>Formulário de Clientes</h1>

<form method="POST">
    <input type="text"   name="nome" placeholder="nome"><br />
    <input type="text"   name="sexo" placeholder="sexo"><br />
    <input type="number" name="age" placeholder="idade"><br />
    <button type="submit">Enviar</button>
</form>

<br> <hr>

<form method="POST" th:object="${client}">
    <input type="text"   th:field="*{nome}" name="nome" placeholder="nome"><br />
    <input type="text"   th:field="*{sexo}" name="sexo" placeholder="sexo"><br />
    <input type="number" th:field="*{age}"  name="age" placeholder="idade"><br />
    <button type="submit">Enviar</button>
</form>